# Configurações da API
VITE_API_URL=http://localhost:3000/api

# Configurações do Azure AD B2C (se necessário)
VITE_AZURE_AD_CLIENT_ID=your-client-id
VITE_AZURE_AD_TENANT_ID=your-tenant-id
VITE_AZURE_AD_REDIRECT_URI=http://localhost:5173 